@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'monasans';
  src: url('./Fonts/MonaSansExpanded-Regular.ttf');
}

* {
  font-family: 'monasans'
}

body {
  @apply overflow-hidden
}

.rdp [aria-hidden="true"] {
    @apply hidden;
  }
  
.rdp-vhidden {
@apply hidden;
}
  
select::-webkit-scrollbar {
display: none;
}

.rpd-caption_dropdowns {
    @apply w-96 flex flex-row bg-slate-300;
}

/* App header */
#appHeader {
  background-image: url('./images/magicpattern-mesh-gradient-1695096909883.png');
  background-size: cover;
}

/* For animations*/

.lineMask {
  @apply overflow-hidden
}
